################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AspNetCoreAndMapster
/AspNetCoreAndMapster/bin/Debug/net8.0
/AspNetCoreAndMapster/obj/Debug/net8.0
/.vs/ProjectEvaluation
